<doctype <!DOCTYPE html>
<html lang="es">
	<head>
		<title>Portafolio.la</title>
		<meta charset="UTF-8"/>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="../static/css/normalize.css">
		<link rel="stylesheet" href="../static/css/estilos.css">
	</head>
	<body>
		<header id="yo" class="Header">
			<nav class="MainMenu">
				<ul class="MainMenu-list">
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#yo">yo</a>
					</li>
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#perfil">perfil</a>
					</li>
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#trabajo">trabajo</a>
					</li>
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#contacto">contacto</a>
					</li>
				</ul>
			</nav>
			<figure class="Header-imageContainer">
				<img src="../static/img/avatar.jpg" alt="Imagen personal" class="Header-image" />
				<figcaption class="Header-imageDescription">
					<a class="Header-link"href="http://twitter.com/aranajhonny" target="_blank">@aranajhonny</a>
				</figcaption>
				<p class="Header-name">Jhonny Arana</p>
			</figure>
		</header>
		<section id="perfil" class="Profile">
			<h2 class="Profile-title u-title" >Mi perfil</h2>
			<p class="Profile-description">Hola! soy jhonny, si llegastes hasta aqui puedes ver mi porttafolio y contactarme</p>
			<a class="Profile-link" href="http://twitter.com/aranajhonny" target="_blank">@aranajhonny</a>
			<a class="Profile-link" href="http://facebook.com/aranajhonny" target="_blank">Arana jhonny</a>
			<a class="Profile-link" href="http://github.com/aranajhonny" target="_blank">@aranajhonny</a >
		</section>
		<section id="trabajo" class="Work">
			<h2 class="Work-title u-title">Mi trabajo</h2>
			<article class="Work-item">
				<figure class="work-imageContainer">
					<img class="Work-image" src="../static/img/proyecto.jpg" alt="Esta es una imagen">
					<figcaption class="Work-desciption">website de mejorandola</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="work-imageContainer">
					<img class="Work-image" src="../static/img/proyecto.jpg" alt="Esta es una imagen">
					<figcaption class="Work-desciption">website de mejorandola</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="work-imageContainer">
					<img class="Work-image" src="../static/img/proyecto.jpg" alt="Esta es una imagen">
					<figcaption class="Work-desciption">website de mejorandola</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="work-imageContainer">
					<img class="Work-image" src="../static/img/proyecto.jpg" alt="Esta es una imagen">
					<figcaption class="Work-desciption">website de mejorandola</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="work-imageContainer">
					<img class="Work-image" src="../static/img/proyecto.jpg" alt="Esta es una imagen">
					<figcaption class="Work-desciption">website de mejorandola</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="work-imageContainer">
					<img class="Work-image" src="../static/img/proyecto.jpg" alt="Esta es una imagen">
					<figcaption class="Work-desciption">website de mejorandola</figcaption>
				</figure>
			</article>
		</section>
		<footer id="contacto" class="Footer">
			<div class="Footer-left">
				<h3 class="Footer-title">Contacto</h3>
			<p class="Footer-description">Si tienes una sugerencia contactame</p>
			</div>
			<form class="Footer-form">
				<input class="Footer-formInput" placeholder="Nombre"/>
				<input class="Footer-formInput" type="email" placeholder="email"/>
				<textarea class="Footer-textarea"  placeholder="Motivo"></textarea>
				<button class="Footer-button" type="submit">Enviar</button>
			</form>
		</footer>
	</body>
</html>





